<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .data.Title }}</title>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap"
        rel="stylesheet" />

    <link rel="icon" href="https://i.postimg.cc/rFsKxZQT/Screenshot-2024-10-11-161628.png" type="image/x-icon" />
    <style>
        body {
            font-family: "Inter", sans-serif;
        }
    </style>
</head>

<body>
    {{ if eq .data.Title "SignUp" }}
        {{ block "SignUP" . }} {{ end }}
    {{ else if eq .data.Title "OTP" }}
        {{ block "OTP" . }} {{ end }}
    {{ else if eq .data.Title "Result" }}
        {{ block "Result" . }} {{ end }}
    {{ else }}
        <h2>Page not found</h2>
        <p>The page you are looking for does not exist.</p>
    {{ end }}
</body>

</html>